
/* Color Variables ==================================== */

@white: 					#fff;
@nav-color: 			#232323;
@tundora: 				#404040;
@sea-buckthorn: 	#f89a3d;
@dove-gray:       #6C6C6C;
@boulder: 				#777777;
@silver: 					#bbbbbb;
@alabaster:       #f9f9f9;
@white-sand:      #f5f5f5;
@scorpion: 				#5a5a5a;
@alto: 						#dcdcdc;
@fuscous-gray:    #52504e;
@color-text-base: @tundora;
@alto: #CFCFCF;
@Emperor: #4F4F4F;
@Mine-Shaft : #252525;
@Mecury : #E7E7E7;
@Shuttle-Gray : #566065;
@Old-rose:#C3917D;
@Nevada : #695E76;
@Bright-Turquoise:#14F1E4;
@Big-stone: #152639;
@Picton-blue: #46BCEC;
@gull-gray:#9EA8B7;
@slate-gray:#647C8A;
/* Font Stack ==================================== */

@helvetica-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
@georgia-font-stack: Georgia, "Times New Roman", serif;
@dosis-font-stack: 'Dosis', Helvetica, Arial, sans-serif;
@droidserif-font-stack: "Droid Serif", "Times New Roman", serif;
@yellowtail-font-stack: 'Yellowtail', cursive; 
@raleway-font-stack: "Raleway", Helvetica, Arial, sans-serif;
@montserrat-font-stack: "Montserrat", Helvetica, Arial, sans-serif;;
@Oswald-font-stack: 'Oswald', sans-serif;
@Lato-font-stack : 'Lato', sans-serif;
@opensans-font-stack : 'Open Sans', sans-serif;
@Source-Sans: 'Source Sans Pro', sans-serif;
/* Break Point ==================================== */

@brk-small: 480px;
@brk-medium: 768px;
@brk-large: 1024px;